body{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main{
    width: 626px;
    height: 486px;
    top: 64px;
    left: 199px;
    
}

header{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 238px;
    top: 64px;
    left: 337px;
}

h1{
    margin-left: auto;
    margin-right: auto;
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    color: #3F3D56;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 494px;
    height: 40px;
    top: 334px;
    left: 265px;  
}

strong{
    color: #EE24FF;
}

section{
    margin-left: auto;
    margin-right: auto;
}

h2{    
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #828282;
    width: 540px;
    height: 107px;
    top: 390px;
    left: 249px;
}

em{
    font-weight: 700;
    font-style: normal;
}
b{
    color: #3F3D56;
    font-weight: 700;
}


h3{   
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
}

img{
    margin: auto;
    display: block;
}